# ==================================================================================================================================
# GITIGNORE CONFIGURATION
# ==================================================================================================================================
# This file specifies which file extensions, local directories and software to ignore or push into the GitHub repository. It:
# 1. Includes .sh and .nf scripts to be evaluated by the master thesis committee.
# 2. Excludes large genomic data, intermediate processing files, local environment configurations and data directories.
# ==================================================================================================================================

# Ignore macOS system files
.DS_Store

# 1. Include (!*) script files
!*.sh
!*.nf

# 2. Ignore (*) large data and intermediary files
# Genome reference and index files
*.ann
*.amb
*.dict
*.fa
*.fai
*.pac
*.sa
*.bwt

# Raw sequencing files
*.fastq.gz

# Alignment files
*.bam
*.bam.bai

# Variant calling and interval files
*.bed
*.vcf.gz

# Ignore summary reports, samplesheets and metadata text files
*.csv
*.json
*.html
*.log
*.tsv
*.txt
*.xml
*.zip

# Ignore Data Directories (**) to exclude local folders containing heavy data or results
**/samples/
**/subsamples/
**/results/
**/genome/
**/metadata/

# Ignore Nextflow infrastructure
nextflow
**/.nextflow.log*
**/.nextflow/

# Ignore Miniconda installation scripts
Miniconda3-latest-Linux-aarch64.sh
Miniconda3-latest-Linux-x86_64.sh
Miniconda3-*.sh