# Ignore system files
.DS_Store

# Ignore data files
*.fa
*.amb
*.bwt
*.pac
*.sa
*.ann
*.fastq.gz
*.bam
*.bam.bai
*.vcf.gz
*.bed
*.csv
*.tsv
*.txt
*.html
*.zip
*.xml
*.dict
*.fai
*.json


# Ignore Sample Directory
**/Sample_*/
**/Results/
**/Genome/


# Ignore nextflow files and directories
nextflow
**/.nextflow.log*
**/.nextflow/

# Not ignore files with the following extensions
!*.sh
!*.py
!*.nf

# Ignore Miniconda installation scripts
Miniconda3-*.sh