process {
    resourceLimits = [
        cpus: 8,
        memory: '7.5 GB' 
    ]

    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries    = 2
    scratch = true

    withName: '.*FASTP.*' {
        cpus   = 4
        memory = '4 GB'
    }

    withName: '.*BWAMEM1_MEM.*|.*BWAMEM2_MEM.*|.*BWA_MEM.*|.*SAMTOOLS_SORT.*' {
        cpus   = 2
        memory = '7 GB' 
    }

    withName: '.*MARKDUPLICATES.*|.*BASE_RECALIBRATOR.*' {
        cpus   = 2
        memory = '4 GB'
    }
}