/*
==================================================================================================================================
NEXTFLOW CONFIGURATION 
==================================================================================================================================
This nextflow configuration file establishes the execution environment and tool-specific parameters by:
1. Defining the local executor and resource limits to ensure hardware stability.
2. Assigning specific Seqera containers to each tool.
3. Optimizing CPU and memory requirements per tool.
4. Establishing default resources for any process not defined.
==================================================================================================================================
*/

// Local executor and resource limits
executor {
    name = 'local'
    queueSize = 1 // Define the number of simultaneous tasks
}

// Enable cleanup of intermediate work files after a successful run
cleanup = true

// Establish parameters for each processing tool
process {
    
    // Global hardware constraints
    resourceLimits = [ memory: '6 GB', cpus: 2 ]

    // Default resources for not described processes
    cpus   = 1
    memory = 2.GB

    // FastQC resources
    withName: '.*fast.*' {
        cpus   = 1
        memory = 1.GB
        container = 'community.wave.seqera.io/library/fastqc:0.12.1--df99cb252670875a'
    }

    // BWA-MEM resources
    withName: '.*bwamem.*' {
        cpus   = 2
        memory = 4.5.GB 
        container = 'community.wave.seqera.io/library/bwa:0.7.19--a2905626cda4750d'
    }

    // Samtools resources
    withName: '.*samtools.*' {
        cpus   = 1
        memory = 2.GB
        container = 'community.wave.seqera.io/library/samtools:1.23.1--e8c68bc6da750dc8'
    }

    // Picard MarkDuplicates resources
    withName: '.*MarkDuplicates.*' {
        cpus   = 1
        memory = 3.GB
        container = 'community.wave.seqera.io/library/picard:3.4.0--6f28fdc142d7e8d3'
    }
    
    // LoFreq somatic variant caller resources
    withName: 'lofreqSomaticVC' {
        container = 'community.wave.seqera.io/library/lofreq:2.1.5--f40065945717786e'
    }
    
    // Samtools PileUp resources
    withName: 'samtoolsMpileup' {
        container = 'community.wave.seqera.io/library/samtools:1.23.1--e8c68bc6da750dc8'
    }
    
    // VarScan2 somatic variant caller resources
    withName: 'varscanSomaticVC' {
        container = 'community.wave.seqera.io/library/varscan:2.4.6--f136b57b5c999502'
    }

    // GATK4 Mutect2 somatic variant caller resources
    withName: 'mutectSomaticVC' {
        cpus   = 2
        memory = 4.GB
        container = 'community.wave.seqera.io/library/gatk4:4.6.2.0--eb4eddc44dc7fb63'
    }

    // VarDict somatic variant caller resources
    withName: 'vardictSomaticVC' {
        container = 'community.wave.seqera.io/library/vardict-java:1.8.3--675bbcc5303f55d1'
    }

    // Bcftools resources
    withName: '.*bcftools.*' {
        container = 'community.wave.seqera.io/library/bcftools:1.23.1--15a480527db1d585'
    }
}

// Docker configuration
docker {
    enabled = true
    runOptions = '-m 5g --memory-swap 6g' // Limits Docker memory usage per container
}