executor {
    name = 'local'
    queueSize = 1
}

cleanup = true

process {
    
    cpus   = 1
    memory = 2.GB

    withName: '.*FAST.*' {
        cpus   = 1
        memory = 1.GB  // Baixem a 1GB: és més que suficient i allibera el Mac
        container = 'community.wave.seqera.io/library/fastqc:0.12.1--df99cb252670875a'
    }

    withName: '.*BWAMEM.*' {
        cpus   = 2
        memory = 4.5.GB 
        container = 'community.wave.seqera.io/library/bwa:0.7.19--a2905626cda4750d'
    }

    withName: '.*SAMTOOLS.*' {
        cpus   = 1
        memory = 2.GB
        container = 'community.wave.seqera.io/library/samtools:1.23.1--e8c68bc6da750dc8'
    }

    withName: '.*MARKDUPLICATES.*' {
        cpus   = 1
        memory = 3.GB
        container = 'community.wave.seqera.io/library/picard:3.4.0--6f28fdc142d7e8d3'
    }
}

docker {
    enabled = true
    runOptions = '-m 5g --memory-swap 6g'
}