executor {
    name = 'local'
    queueSize = 1
}

cleanup = true

process {

    cpus   = 1
    memory = 3.GB

    withName: '.*BWAMEM.*|.*MARKDUPLICATES.*|.*SAMTOOLS.*' {
        cpus   = 2
        memory = 4.GB
    }

    withName: '.*FAST.*' {
        cpus   = 1
        memory = 2.GB
    }
}

docker {
    enabled = true
    runOptions = '--platform linux/amd64 -m 5g --memory-swap 12g'
}